@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap");

:root {
  --black: #1c1c1c;
  --gray: #919191;
  --light-gray: #ebebeb;
  --hot-pink: #ff214f;
  --primary-font: "Roboto", sans-serif;
}

body {
  background: var(--light-gray);
  font-family: var(--primary-font); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
  font-weight: 300;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
